In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
import pickle

In [2]:
data=pd.read_csv("insurance_pre.csv")
data=pd.get_dummies(data,drop_first=True)
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [3]:
independent=data[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=data[['charges']]

In [4]:
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [9]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [15]:
criterions=['mse','mae','friedman_mse']
n_estimator=[10,100]
max_feature=['sqrt', 'auto', 'log2']

a=[]
b=[]
c=[]
r2=[]
for x in criterions:
    for y in n_estimator:
        for z in max_feature:
                    regressor=RandomForestRegressor(criterion=x,n_estimators=y,max_features=z)
                    regressor.fit(x_train,y_train)
                    y_predict=regressor.predict(x_test)
                    r_score=r2_score(y_test,y_predict)
                    r2.append(r_score)
                    a.append(x)
                    b.append(y)
                    c.append(z)

C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]
C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  del sys.path[0]

In [16]:
Dict={"criterion":a,"estimators":b,"max_features":c,"r2_scor":r2}
final_data=pd.DataFrame(Dict)
final_data.to_csv("RF_parameters.csv")
final_data

       criterion  estimators max_features   r2_scor
0            mse          10         sqrt  0.849643
1            mse          10         auto  0.840009
2            mse          10         log2  0.859260
3            mse         100         sqrt  0.869864
4            mse         100         auto  0.858511
5            mse         100         log2  0.870715
6            mae          10         sqrt  0.874334
7            mae          10         auto  0.834414
8            mae          10         log2  0.867458
9            mae         100         sqrt  0.874372
10           mae         100         auto  0.854710
11           mae         100         log2  0.872091
12  friedman_mse          10         sqrt  0.845719
13  friedman_mse          10         auto  0.835182
14  friedman_mse          10         log2  0.852274
15  friedman_mse         100         sqrt  0.870301
16  friedman_mse         100         auto  0.854448
17  friedman_mse         100         log2  0.866721

In [18]:
regressor=RandomForestRegressor(criterion='mae',n_estimators=100,max_features='sqrt')
regressor.fit(x_train,y_train)

C:\Users\shanm\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor(bootstrap=True, criterion='mae', max_depth=None,
                      max_features='sqrt', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [19]:
y_predict=regressor.predict(x_test)

In [20]:
r_score=r2_score(y_test,y_predict)
r_score

0.8726779932910506

In [21]:
age=float(input("Age:"))
Bmi=float(input("BMI:"))
children=float(input("Children:"))
sex=int(input("Sex male-1 female 0:"))
smoker=int(input("Smoker Yes 1 No 0:"))

Age:30
BMI:30
Children:2
Sex male-1 female 0:1
Smoker Yes 1 No 0:1

In [22]:
prediction=regressor.predict([[age,Bmi,children,sex,smoker]])
prediction

array([46977.1652829])

In [25]:
file_name="Final_Model.sav"
pickle.dump(regressor,open(file_name,'wb'))